* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  background-color: #f9f9f9;
  display: flex;
  justify-content: center;
  align-items: flex-start; 
  height: 100vh;
  padding-top: 80px; 
}

main.login {
  text-align: center;
}

header.logo {
  background-color: #000;
  color: #fff;
  font-weight: bold;
  display: inline-block;
  padding: 10px 16px;
  border-radius: 6px;
  font-size: 22px;
  margin-bottom: 25px;
  text-align: center;
}

h1 {
  font-size: 1.8rem;
  font-weight: 700;
  margin-bottom: 8px;
  color: #000;
  text-align: center;
}

p {
  color: #555;
  font-size: 0.95rem;
  margin-bottom: 30px;
}

.login-buttons {
  display: flex;
  flex-direction: column;
  gap: 16px; 
}

.btn {
  display: flex;
  justify-items:center;
  gap: 10px;
  border: 1px solid #ddd;
  background: #fff;
  padding: 14px; 
  border-radius: 10px;
  cursor: pointer;
  font-size: 1rem; 
  transition: all 0.2s ease;
  box-shadow: 0 1px 3px rgba(0,0,0,0.1);
}

.btn:hover {
  background-color: #f0f0f0;
}

