* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  background-color: #f9f9f9;
  display: flex;
  justify-content: center;
  align-items: flex-start; 
  height: 100vh;
  padding-top: 80px; 
}

main.login {
  text-align: center;
}

header.logo {
  background-color: #000;
  color: #fff;
  font-weight: bold;
  display: inline-block;
  padding: 10px 16px;
  border-radius: 6px;
  font-size: 22px;
  margin-bottom: 25px;
  text-align: center;
}

h1 {
  font-size: 1.8rem;
  font-weight: 700;
  margin-bottom: 8px;
  color: #000;
  text-align: center;
}

p {
  color: #555;
  font-size: 0.95rem;
  margin-bottom: 30px;
}

.login-buttons {
  display: flex;
  flex-direction: column;
  gap: 16px; 
}

.btn {
  display: flex;
  justify-items:center;
  gap: 10px;
  border: 1px solid #ddd;
  background: #fff;
  padding: 14px; 
  border-radius: 10px;
  cursor: pointer;
  font-size: 1rem; 
  transition: all 0.2s ease;
  box-shadow: 0 1px 3px rgba(0,0,0,0.1);
}

.btn:hover {
  background-color: #f0f0f0;
}

aside.divider {
  margin-top: 35px;
  font-weight: 500;
  color: #777;
  position: relative;
  text-align: center;
}

aside.divider::before,
aside.divider::after {
  content: "";
  position: absolute;
  top: 50%;
  width: 40%;
  height: 1px;
  background-color: #ddd;
}

aside.divider::before {
  left: 0;
}

aside.divider::after {
  right: 0;
}

article .login-form {
  text-align: left;
  margin-top: 20px;
}

.login-form label {
  display: block;
  font-weight: 600;
  color: #222;
  margin-bottom: 6px;
}

.login-form input[type="email"],
.login-form input[type="password"] {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 1rem;
  margin-bottom: 18px;
}

.options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
  font-size: 0.9rem;
}

.remember {
  display: flex;
  align-items: center;
  gap: 5px;
}

input[type="checkbox"] {
  width: 16px;
  height: 16px;
  accent-color: #3b49df;
}

.forgot {
  color: #3b49df;
  text-decoration: none;
}

.forgot:hover {
  text-decoration: underline;
}

.login-btn {
  width: 100%;
  background-color: #3b49df;
  color: white;
  border: none;
  padding: 14px;
  font-size: 1rem;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 600;
  transition: background 0.2s ease;
}

.login-btn:hover {
  background-color: #2c39c9;
}

footer.terms {
  margin-top: 20px;
  font-size: 0.85rem;
  color: #555;
  text-align: center;
}

footer.terms a {
  color: #3b49df;
  text-decoration: none;
}

footer.terms a:hover {
  text-decoration: underline;
}

